body, html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.bg-1{
 /* The image used */
 background-image: url('../img/background-2.jpg');

}
.profile-pic{
    
    border-radius: 50%;
    width: 60%;
    max-width: 200px;
    
    

}
hr{
    width: 60%;
    color: white;
}

.parallax {
   
    padding-top: 10vh;
    
    margin-top: 0%;
    margin-bottom: 0px;

    /* Full height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

}

.logos{
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 8px;
}

.bg-2{
    /* The image used */
 background-image: url('../img/background.jpg');
 height: 80%;
}
.profile-box{

    padding: 4%;
    text-align: center;

    /* Settint the */
    border-radius: 50px;
    height: 70%;
    width: 70%;

    
    margin: auto;
    
    background-color: rgba(49, 56, 72, 0.7);
}

#name{
    font-family: 'Muli', sans-serif;
    font-size: 2em;
    color: white;
    margin-bottom: 0%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

#profile-bio{
    margin-top: 20px;
    color: white;
    font-family: Arial;
}

h5{
    font-family: sans-serif;
    margin-top: 4px;
    color: white;
}

.test{
    margin-top: 0px;
    padding-top: 20px;
    height: 50%;
    background-color: rgba(49, 56, 72, 1)
}

p{
    margin-top: 0%;
    text-decoration-color: white;
}
 /* 
html { 
  height: 100%;
    width: 100%;
  background: url('../img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/